{% extends "base_blog.html" %}
{% block main%}


{% for post in posts %}
<a href="/blog/{{post.id}}"><h3>{{post.title}}</h3></a>
<h5>{{post.subtitle}}</h5>
<p>{{post.datetime}}</p>
{% if post.images %}
{% for image in post.images.all %}
<img src="{{image}}" />
{% endfor %}
{% else %}
{% endif%}
{% autoescape off%}
<p>{{post.body|linebreaks|truncatewords:100}}</p>
{% endautoescape%}
<a href="/blog/{{post.id}}">See Full Post</a>
<ul class="blog_tags">
  <h4>Tags</h4>
  {% for tag in post.tags.all %}
  <li><a href="/blog/tags/{{tag.id}}">| {{tag}} |</a></li>
  {% endfor %}
</ul>
{% endfor %}
{% endblock main%}
