{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

        <!-- Basic Page Needs                                                                      \
                                                                                                    
  ================================================== -->
        <meta charset="utf-8">
        <title>Jack Moxon</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!--[if lt IE 9]>                                                                          \
                                                                                                    
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>         \
                                                                                                    
        <![endif]-->

        <!-- Mobile Specific Metas                                                                 \
                                                                                                    
  ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS                                                                                   \
                                                                                                    
  ================================================== -->
        <link rel="stylesheet" href="{% get_static_prefix %}css/base.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/skeleton.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/layout.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/style.css">
<!--	<link href='http://fonts.googleapis.com/css?family=Stoke' rel='stylesheet' type='text/css'>-->
	<link href="http://www.jackmoxon.com/blog/latest/feed" title="RSS" type="application/rss+xml" rel="alternate">

        <!-- Javascript                                                                            \
                                                                                                    
        ================================================== -->

	<!-- Favicons
	     ================================================== -->
	<link rel="shortcut icon" href="{% get_static_prefix %}images/record4.png">
</head>
<body>
<div id="container" class="container">
  <div id="header" class="sixteen columns">
    <div id="namediv" class="six columns">
      <a href="/"><img src="{% get_static_prefix %}images/jackbike.png" class="scale-with-grid" /></a>
    </div><!--closes namediv-->
    <div id="headerlinks" class="four columns">
    </div><!--closes headerlinks-->
  </div><!--closes header-->

  <div id="main" class="sixteen columns">
    <div id="content" class="eight columns">
{% block main %}
{% endblock main %}
    </div><!--closes content-->
    
    <div id="about" class="six columns">
      <h4>About</h4>
     <p>I am a startup enthusiast that does business development at <a href="http://saucelabs.com">Sauce Labs</a>. I was previously the co-founder of <a href="http://clothesliner.com">Clothesliner</a> and studied economics and political science at UCLA.<br/><br/>
       In 2011, I read <a href="http://www.paulgraham.com/love.html">How To Do What You Love</a> by Paul Graham and began learning to program.<br/><br/>
       I play ultimate frisbee, ride my bicycle and reside in San Francisco, California. My favorite artists are Elvis Costello, P.G. Wodehouse, Kazuo Ishiguro, <a href="/derain/">Andre Derain</a>, Woody Allen, Wes Anderson and Belle & Sebastian.<br/><br/>
       Please feel free to contact me. I love to meet and hear from new people.<br/><br/>
       </p>



    </div><!--closes about-->
  </div><!--closes main-->
<center>
  <div id="footer" class="eight columns offset-by-four">
    <ul>
      <li><a href="/resume/">Resume</a></li>
      <li><a href="/cv/">CV</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/links/">Favorites</a></li>
      <li><a href="/contact/">Contact</a></li>
  </div><!--closes footer-->
</center>

</div><!--closes container-->



</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29585082-1']);
  _gaq.push(['_setDomainName', 'jackmoxon.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
