{% load static %}
<!DOCTYPE HTML PUBLIC “-//W3C//DTD HTML 4.01//EN” “http://www.w3.org/TR/html4/strict.dtd”>
<head>
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/reset.css">
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/960.css">
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/text.css">
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/homepage.css">
 
  <title>
    Jack Moxon
    </title>
</head>
<body>
<div id="container" class="container_12">
<div id="name">
<h1 class="header"><a href="/">Jack Moxon</a></h1>
</div><!--closes the name div-->
<div id="content" class="alpha omega grid_6">
<div id="main_area">
{% block main %}
{% endblock main%}
</div><!--closes main_area div-->
</div><!--closes content div-->

<div id="about">
<h3>About</h3>
<p>My name is John Sumner Moxon, but everyone except my high school Geometry teacher calls me “Jack”.  I am learning web development and currently work for Harbor Research.<br/><br/>
I play ultimate frisbee, ride my bicycle and reside in San Francisco, California. My favorite artists are Elvis Costello, P.G. Wodehouse, <a href="/derain/">Andre Derain</a>, Woody Allen, Wes Anderson and Belle & Sebastian. 
<br/><br/>
Please feel free to contact me. I love to meet and hear from new people. 
</p>
</div><!--closes the about div-->

<div id="links">
  <ul>
    <li><a href="http://www.linkedin.com/pub/jack-moxon/19/12a/341">CV</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/links/">Favorites</a></li>
<!--    <li><a href="/quotes/">Quotes</a></li>-->
<!--    <li><a href="/blog/">Blog</a></li>-->
    <li><a href="/contact/">Contact</a></li>
    </ul>
  </div> <!--closes the links div-->
</body>
</html>
