{% extends "cv_base.html" %}

{% block main %}
<div id="cv" class="twelve columns">

<ul class="education"><h4>Education</h4>
    <ul class="job"><h5>UCLA</h5>
      <li><h6>B.A. in Economics and Political Science -- June 2009</h6></li>
      <ul class="cv_bullets">
      <li class="cv_bullet">G.P.A. 3.78</li>
      <li class="cv_bullet">Graduated Cum Laude from UCLA Honors Program</li>
      <li class="cv_bullet">SAT: Verbal 720, Math 700, Writing 710</li>
      <li class="cv_bullet"><a href="http://www.econ.ucla.edu/undergraduate/?p=internships">2009 Sharpe Fellow</a></li>

      </ul><!--closes csv bullets-->
   </ul><!--closes job-->
   </ul><!--closes education-->


<ul class="jobs"><h4>Experience</h4>
    <ul class="job"><h5>Sauce Labs // Account Executive</h5>
      <li><h6>San Francisco, California -- April 2012-Present</h6></li>
      <ul class="cv_bullets">
        <li class="cv_bullet">Coming soon!</li>
      </ul><!--closes csv bullets-->
    </ul><!--closes job-->
    
    <ul class="job"><h5>Harbor Research, Inc. // Research Analyst</h5>
      <li><h6>San Francisco, California -- November 2009-February 2012</h6></li>
      <ul class="cv_bullets">
	<li class="cv_bullet">Project manager for a 6-month $250,000 strategic vertical market assessment with Microsoft’s Embedded OS division; drafted and executed project plan to completion on time and with little supervision.</li>
	<li class="cv_bullet">Developed client presentations and built economic models that were presented to senior executives and board members at Fortune 500 companies to advise on corporate strategy and M&A activity; project lead on a strategic due diligence engagement for one of the world’s largest semiconductor manufacturers that will lead to a multi-million dollar acquisition.</li>
	<li class="cv_bullet">Led primary research, content development and forecasting for Machine-to-Machine Smarty Systems Forecast Report and wrote a number of publications including a white paper that received over 1,000 downloads.</li>
	<li class="cv_bullet">Conducted primary and secondary research for consulting projects, including developing relationships and conducting interviews with major industry participants and startup CEOs.</li>
	
      </ul><!--closes csv bullets-->
    </ul><!--closes job-->
    <ul class="job"><h5>TheUrbanFarmers.org // Community Organizer</h5>
      <li><h6>Lafayette, California -- September 2011-November 2011</h6></li>
      <ul class="cv_bullets">
	<li class="cv_bullet">Launched an environmental nonprofit with one other founder that turned unused local backyards into sustainable vegetable gardens and planted over 350 fruit trees in Lafayette in 3 months.</li>
      <li class="cv_bullet">Recruited, interviewed and organized over 100 participating families into the program.</li>
      </ul><!--closes csv bullets-->
    </ul><!--closes job-->
    
    <ul class="job"><h5>UCLA Institute of the Environment // Research Assistant</h5>
      <li><h6>Los Angeles, California -- March 2008-June 2009</h6></li>
      <ul class="cv_bullets">
	<li class="cv_bullet">Performed research and analysis on key trends in environmental economics including the effects of governments subsidies, green marketing, collaborative consumption and disruptive technologies for Dr. Matthew Kahn’s book about the economic effects of climate change in cities: Climatopolis.</li>
	<li class="cv_bullet">Used statistical program STATA to analyze environmental impact of congressional voting records for a paper published by Dr. Kahn; as well as edited drafts, and gave feedback on his analysis.</li>
      </ul><!--closes csv bullets-->
    </ul><!--closes job-->
    
    <ul class="job"><h5>Environmental Camps for Conservation Awareness // Intern</h5>
      <li><h6>Kathmandu, Nepal -- September 2007-December 2007</h6></li>
      <ul class="cv_bullets">
	<li class="cv_bullet">Developed and implemented a teaching curriculum on the effects of climate change on developing countries for Nepali youths.</li>
	<li class="cv_bullet">Visited rural Nepali villages to educate children about climate change, sustainability and biodiversity.</li> 
	<li class="cv_bullet">Created and implemented my own study abroad program that included language instruction, cultural immersion, seminars with visiting researchers, and an internship with leading a Nepali NGO.</li>
	
      </ul><!--closes csv bullets-->
    </ul><!--closes job-->
</ul><!--closes jobs -->

<ul class="job"><h4>Leadership</h4>
  <ul class="cv_bullets">
    <li class="cv_bullet">Captain -- UCLA Men's Ultimate Frisbee Team</li>
    <li class="cv_bullet">Guide -- UCLA Outdoor Leadership Program</li>
  </ul><!--closes cv_bullets-->
</ul><!--closes job -->

<ul class="skills three columns"><h4>Skills</h4>
  <li>Python & Django</li>
  <li>HTML/CSS/Javascript</li>
  <li>Market Segmentation</li>
  <li>Microsoft Office Suite</li>
  <li>Adobe InDesign</li>
  <li>SQlite3</li>
</ul><!--closes skills-->

<ul class="skills three columns"><h4>Projects</h4>
  <li><a href="http://remindr.us">Remindr</a></li>
  <li><a href="http://clothesliner.com/demonstration/">Clothesliner</a></li>
  <li><a href="http://essayr.com">Essayr</a></li>
  <li><a href="http://github.com/jsmoxon">github</a></li>


</ul><!--closes skills-->

<ul class="skills three columns"><h4>Passions</h4>

  <li>Entreprenuership & Startups</li>
  <li>Cycling, Ultimate Frisbee, Outdoors</li>
  <li>P.G. Wodehouse, Kurt Vonnegut</li>
  <li>Programming</li>
  <li>Bridge</li>
</ul><!--closes skills-->
</div><!--closes cv -->
{% endblock main%}
